<form action="/selezione">
    <input type="radio" name="scelta" value="es1">elenco delle linee tranviarie e di bus che hanno un percorso la cui lunghezza è compresa tra due valori</input><br>
    <input type="radio" name="scelta" value="es2">elenco di tutte le linee (tram e bus) che passano in un certo quartiere</input><br>
    <input type="radio" name="scelta" value="es3">mappa della città con il percorso di una linea scelta dall’utente</input><br>



    <input type="submit" value="Clicca qui"></input>
</form>